name: test
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        perl-version:
          - "5.40"
          - "5.38"
          - "5.36"
          - "5.34"
          - "5.32"
          - "5.30"
          - "5.28"
          - "5.26"
          - "5.24"
          - "5.22"
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: Perl ${{ matrix.perl-version }} on ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup perl
        uses: actions/perl/setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
      
      - name: Show Perl version
        run: perl -v
      
      - name: Install Dependencies
        run: |
          curl -sL https://git.io | perl - install -g --with-recommends --with-suggestions
      
      - name: Run tests
        run: prove -lr t
