name: test
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        perl: ["5.40", "5.38", "5.36", "5.34", "5.32", "5.30", "5.28", "5.26", "5.24", "5.22"]
        os: [macos-latest]
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Perl
        uses: perl-actions/install-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install Dependencies
        run: |
          curl -sL https://git.io | perl - install -g --with-recommends --with-suggestions
      - name: Run test
        run: prove -lr t
